# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [13]:
import pandas as pd

# 1. Load the dataset
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
df = pd.read_csv(url)

# --- Dimensions ---
print(f"Dimensions (Rows, Columns): {df.shape}")

# --- Data Types ---
print("\nData Types:")
print(df.dtypes)

# separating columns by type
categorical_cols = df.select_dtypes(include=['object', 'category']).columns.tolist()
numerical_cols = df.select_dtypes(include=['number']).columns.tolist()

print("\n--- Unique Values ---")
for col in df.columns:
    print(f"{col}: {df[col].nunique()} unique values")

# --- Categorical Column Analysis ---
print("\n--- Categorical Column Details ---")
for col in categorical_cols:
    print(f"\nColumn: {col}")
    print(f"Unique Values: {df[col].unique()}")
    
# --- Numerical Column Analysis ---
print("\n--- Numerical Column Ranges ---")
for col in numerical_cols:
    print(f"{col}: Range {df[col].min()} to {df[col].max()}")

# --- Summary Statistics (Numerical) ---
print("\n--- Summary Statistics (Numerical) ---")
# mean, median (50%), std, quartiles (25%, 75%) are included in describe()
print(df.describe())
# Mode must be calculated separately for numerical columns
print("\nMode for Numerical Columns:")
print(df[numerical_cols].mode().iloc[0])

# --- Summary Statistics (Categorical) ---
print("\n--- Summary Statistics (Categorical) ---")
print(df.describe(include=['object']))

Dimensions (Rows, Columns): (4008, 11)

Data Types:
Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

--- Unique Values ---
Customer: 1071 unique values
ST: 8 unique values
GENDER: 5 unique values
Education: 6 unique values
Customer Lifetime Value: 1027 unique values
Income: 774 unique values
Monthly Premium Auto: 132 unique values
Number of Open Complaints: 6 unique values
Policy Type: 3 unique values
Vehicle Class: 6 unique values
Total Claim Amount: 761 unique values

--- Categorical Column Details ---

Column: Customer
Unique Values: ['RB50392' 'QZ44356' 'AI49188' ... 'CW49887' 'MY31220' nan]

Column: ST
Unique Values: ['Washington' 'Arizona' 'Nevada' 'California' 'Oregon' 'Cali' 'AZ' 'WA'
 nan]

Column: GENDER
Unique Values: [nan 'F' 'M' 'Femal' 'Male' 'female']

Column: Education
Unique Values: ['Master' 'Bachelor' 'High School or Below' 'College' 'Bachelors' 'Doctor'
 nan]

Column: Customer Lifetime Value
Unique Values: [nan '697953.59%' '1288743.17%' ... '2031499.76%' '323912.47%'
 '899704.02%']

Column: Number of Open Complaints
Unique Values: ['1/0/00' '1/2/00' '1/1/00' '1/3/00' '1/5/00' '1/4/00' nan]

Column: Policy Type
Unique Values: ['Personal Auto' 'Corporate Auto' 'Special Auto' nan]

Column: Vehicle Class
Unique Values: ['Four-Door Car' 'Two-Door Car' 'SUV' 'Luxury SUV' 'Sports Car'
 'Luxury Car' nan]

--- Numerical Column Ranges ---
Income: Range 0.0 to 99960.0
Monthly Premium Auto: Range 61.0 to 35354.0
Total Claim Amount: Range 0.382107 to 2893.239678

--- Summary Statistics (Numerical) ---
             Income  Monthly Premium Auto  Total Claim Amount
count   1071.000000           1071.000000         1071.000000
mean   39295.701214            193.234360          404.986909
std    30469.427060           1601.190369          293.027260
min        0.000000             61.000000            0.382107
25%    14072.000000             68.000000          202.157702
50%    36234.000000             83.000000          354.729129
75%    64631.000000            109.500000          532.800000
max    99960.000000          35354.000000         2893.239678

Mode for Numerical Columns:
Income                    0.0
Monthly Premium Auto     65.0
Total Claim Amount      321.6
Name: 0, dtype: float64

--- Summary Statistics (Categorical) ---
       Customer      ST GENDER Education Customer Lifetime Value  \
count      1071    1071    954      1071                    1068
unique     1071       8      5         6                    1027
top     RB50392  Oregon      F  Bachelor              445811.34%
freq          1     320    457       324                       4

       Number of Open Complaints    Policy Type  Vehicle Class
count                       1071           1071           1071
unique                         6              3              6
top                       1/0/00  Personal Auto  Four-Door Car
freq                         830            780            576

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [14]:
location_counts = df['ST'].value_counts()

top_5_less_common = location_counts.sort_values(ascending=True).head(5)

print(top_5_less_common)

ST
AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Name: count, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [15]:
policy_counts = df['Policy Type'].value_counts()

highest_policy_type = policy_counts.index[0]

print("Total number of policies sold for each type:")
print(policy_counts)
print("\nPolicy Type with the highest number of policies sold:")
print(highest_policy_type)

Total number of policies sold for each type:
Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64

Policy Type with the highest number of policies sold:
Personal Auto

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [16]:
personal_auto_df = df.loc[df['Policy Type'] == 'Personal Auto']
corporate_auto_df = df.loc[df['Policy Type'] == 'Corporate Auto']

avg_income_personal = personal_auto_df['Income'].mean()
avg_income_corporate = corporate_auto_df['Income'].mean()

print(f"avg Income for Personal Auto Policies: ${avg_income_personal:,.2f}")
print(f"avg Income for Corporate Auto Policies: ${avg_income_corporate:,.2f}")

avg Income for Personal Auto Policies: $38,180.70
avg Income for Corporate Auto Policies: $41,390.31

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [18]:
percentile_75 = df['Total Claim Amount'].quantile(0.75)

high_claim_customers_df = df.loc[df['Total Claim Amount'] > percentile_75]

summary_stats_high_claims = high_claim_customers_df.describe(include='all')

print(f"75th Percentile (Q3) for Total Claim Amount: {percentile_75:.2f}")
print(high_claim_customers_df)
print(summary_stats_high_claims)

75th Percentile (Q3) for Total Claim Amount: 532.80
     Customer          ST GENDER Education Customer Lifetime Value   Income  \
1     QZ44356     Arizona      F  Bachelor              697953.59%      0.0
2     AI49188      Nevada      F  Bachelor             1288743.17%  48767.0
17    OE15005        Cali    NaN   College              394524.16%  28855.0
23    TZ98966      Nevada    NaN  Bachelor              245019.10%      0.0
26    US89481  California    NaN  Bachelor              394637.21%      0.0
...       ...         ...    ...       ...                     ...      ...
1059  YG44474      Oregon      M   College             1401472.13%  54193.0
1061  RY92647        Cali      F  Bachelor             1050677.17%      0.0
1068  GS98873     Arizona      F  Bachelor              323912.47%  16061.0
1069  CW49887  California      F    Master              462680.11%  79487.0
1070  MY31220  California      F   College              899704.02%  54230.0

      Monthly Premium Auto Number of Open Complaints     Policy Type  \
1                     94.0                    1/0/00   Personal Auto
2                    108.0                    1/0/00   Personal Auto
17                   101.0                    1/0/00   Personal Auto
23                    73.0                    1/3/00  Corporate Auto
26                   111.0                    1/0/00   Personal Auto
...                    ...                       ...             ...
1059                 117.0                    1/0/00  Corporate Auto
1061                  92.0                    1/0/00   Personal Auto
1068                  88.0                    1/0/00   Personal Auto
1069                 114.0                    1/0/00    Special Auto
1070                 112.0                    1/0/00   Personal Auto

      Vehicle Class  Total Claim Amount
1     Four-Door Car         1131.464935
2      Two-Door Car          566.472247
17              SUV          647.442031
23    Four-Door Car          554.376763
26    Four-Door Car          799.200000
...             ...                 ...
1059            SUV          720.752945
1061  Four-Door Car          546.524896
1068  Four-Door Car          633.600000
1069            SUV          547.200000
1070   Two-Door Car          537.600000

[264 rows x 11 columns]
       Customer      ST GENDER Education Customer Lifetime Value  \
count       264     264    238       264                     264
unique      264       7      5         5                     256
top     QZ44356  Oregon      F  Bachelor              578018.22%
freq          1      90    115        85                       3
mean        NaN     NaN    NaN       NaN                     NaN
std         NaN     NaN    NaN       NaN                     NaN
min         NaN     NaN    NaN       NaN                     NaN
25%         NaN     NaN    NaN       NaN                     NaN
50%         NaN     NaN    NaN       NaN                     NaN
75%         NaN     NaN    NaN       NaN                     NaN
max         NaN     NaN    NaN       NaN                     NaN

              Income  Monthly Premium Auto Number of Open Complaints  \
count     264.000000            264.000000                       264
unique           NaN                   NaN                         6
top              NaN                   NaN                    1/0/00
freq             NaN                   NaN                       206
mean    23677.344697            165.193182                       NaN
std     27013.483721            623.930992                       NaN
min         0.000000             63.000000                       NaN
25%         0.000000             99.000000                       NaN
50%     18807.000000            114.000000                       NaN
75%     42423.750000            133.250000                       NaN
max     99316.000000          10202.000000                       NaN

          Policy Type Vehicle Class  Total Claim Amount
count             264           264          264.000000
unique              3             6                 NaN
top     Personal Auto           SUV                 NaN
freq              191           101                 NaN
mean              NaN           NaN          782.228263
std               NaN           NaN          292.751640
min               NaN           NaN          537.600000
25%               NaN           NaN          606.521741
50%               NaN           NaN          679.597985
75%               NaN           NaN          851.400000
max               NaN           NaN         2893.239678